.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}
.imgWrapper {
  height: 317px;
  width: 100%;
}
.pbIcon {
  margin: 1rem;
}
.headline {
  font-size: 3rem;
  margin-top: 0;
}
.description {
  font-size: 1.25rem;
  max-width: 500px;
  text-align: left;
  margin: 1rem;
  line-height: 1.8rem;
}
.inlineLink {
  color: #950451;
  text-decoration: underline;
}
.inlineLink:active,
.inlineLink:hover,
.inlineLink:focus {
  text-decoration: underline;
  background-color: #fdf6e3;
  transition: background-color 0.25s;
}
.buttonLinks {
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-flow: column;
  list-style-type: none;
  margin: 1rem 0;
}
.buttonLink {
  font-size: 1.2rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.buttonLink:hover,
.buttonLink:focus,
.buttonLink:active {
  background-color: rgba(0, 0, 0, 0.043);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media (prefers-reduced-motion) {
  .buttonLink:hover {
    transition: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}
