.subTitle {
  font-size: 1.58rem;
}

.subTitle,
.line {
  margin-bottom: 1.5rem;
}
.heroImage {
  text-align: center;
  width: 100%;
  max-width: 880px;
  height: auto;
}
.caption {
  font-size: 0.8rem;
}
